extends layout/layout

block css
    <!-- libraries -->
    link(href="/vendor/css/lib/bootstrap-wysihtml5.css",rel="stylesheet")
    link(href="/vendor/css/lib/uniform.default.css",rel="stylesheet")
    link(href="/vendor/css/lib/select2.css",rel="stylesheet")
    link(href="/vendor/css/lib/bootstrap.datepicker.css",rel="stylesheet")
    link(href="/vendor/css/lib/font-awesome.css",rel="stylesheet")
    <!-- this page specific styles -->
    link(href="/vendor/css/compiled/form-showcase.css",rel="stylesheet",media="screen")
    style.
        .select2-container.select2.span12 {
            margin-left: 0;
        }

block content
    .content
        .container-fluid
            .users-list#pad-wrapper
                .row-fluid.header
                    h3 #{title}
                .row-fluid
                    .span4
                    .span4
                        form(method="POST" action="/admin/userquery/1" target="_blank")
                            div.field-box
                                label.col-sm-2.col-sm-offset-3.control-label(for="searchName") 用户名：
                                input.span12(id="searchName" name="search[name]" type="text")
                            div.field-box
                                label.col-sm-2.col-sm-offset-3.control-label(for="searchNickName") 昵称：
                                input.span12(id="searchNickName" name="search[nickName]" type="text")
                            div.field-box
                                label.col-sm-2.col-sm-offset-3.control-label(for="searchPhone") 手机：
                                input.span12(id="searchPhone" name="search[phone]" type="text")
                            div.field-box
                                label.col-sm-2.col-sm-offset-3.control-label(for="searchEmail") 邮箱：
                                input.span12(id="searchEmail" name="search[email]" type="text")
                            div.field-box
                                label.col-sm-2.col-sm-offset-3.control-label 性别：
                                div.col-sm-4
                                    label.radio-inline.span6(for="searchSexMale")
                                        input(id="searchSexMale" name="search[sex]" type="radio" value="male")
                                        | 男
                                    label.radio-inline.span6(for="searchSexFemale")
                                        input(id="searchSexFemale" name="search[sex]" type="radio" value="female")
                                        | 女
                            div.field-box
                                label.col-sm-2.col-sm-offset-3.control-label 状态：
                                div.col-sm-4
                                    label.radio-inline.span6(for="searchOn")
                                        input(id="searchOn" name="search[online]" type="radio" value="true")
                                        | 在线
                                    label.radio-inline.span6(for="searchOff")
                                        input(id="searchOff" name="search[online]" type="radio" value="false")
                                        | 离线

                            div.field-box
                                label.col-sm-2.col-sm-offset-3.control-label(for="searchBelong") 所属直播室：
                                div.col-sm-4
                                    mixin option(value,title)
                                        option(value=value)=title
                                    select.span12(id="searchBelong" name="search[room]")
                                        each val in rooms
                                            +option(val._id,val.title)
                            div.field-box
                                label.col-sm-2.col-sm-offset-3.control-label(for="searchLevel") 等级：
                                input.span12(id="searchLevel" name="search[level]" type="number")
                            div.field-box
                                div.text-center
                                    button.btn.btn-primary(type="submit") 查询

block script
    script(src="/vendor/js/wysihtml5-0.3.0.js")
    script(src="/vendor/js/bootstrap-wysihtml5-0.0.2.js")
    script(src="/vendor/js/bootstrap.datepicker.js")
    script(src="/vendor/js/jquery.uniform.min.js")
    script(src="/vendor/js/select2.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/user-search.js")
