extends layout/layout
block css
    <!-- libraries -->
    link(href="/vendor/css/lib/font-awesome.css",rel="stylesheet")
    <!-- this page specific styles -->
    link(href="/vendor/css/compiled/index.css",rel="stylesheet",media="screen")
block content
    .content
        .container-fluid
            #main-stats
                .row-fluid.stats-row
            #pad-wrapper Welcome
block script
