doctype
html
    head
        meta(charset="utf-8")
        title #{title}
        link(rel="stylesheet",href="/admin/css/bootstrap.min.css")
        script(src="/admin/js/vendor.js")
        block css
    body
        .container
            .row
                if user
                    p.col-xs-2.col-sm-1.glyphicon.glyphicon-user.label.label-default#userName #{user.name}
                    p.col-xs-2.col-sm-1.glyphicon.glyphicon-signal.label.label-default#userLevel #{user.level}
                    p.col-xs-2.col-sm-1.glyphicon.glyphicon-flag.label.label-default#userBelong #{user.belong}
                    a#signOut.col-xs-2.col-xs-offset-4.col-sm-1.col-sm-offset-8.btn.btn-danger.btn-sm 登出
                else
                    p
                        a(class='btn' id='') 登录
        block content
    block js
