extends ../admin/layout

block css

    link(rel="stylesheet",href="/css/admin/admin.css")

block content
    div.container
        div
            div
                label(for="signInPassword") 登录名
                input(id="signInName" type="text")
            div
                label(for="signInPassword") 密码
                input(id="signInPassword" type="password")
            div
                a.btn.btn-success(id="submit") 提交

block js
    script(src="/admin/js/admin.js")
