extends ../admin/layout

block css

    link(rel="stylesheet",href="/css/admin/admin.css")

block content
    div(id="content" class="content")
        div
            div
                label(for="signInPassword") 登录名
                input(id="signInName" type="text")
            div
                label(for="signInPassword") 密码
                input(id="signInPassword" type="password")
            div
                a(id="submit" class="btn") 提交

block js
    script(src="/admin/js/admin.js")
