extends ../admin/layout

block css
    link(rel="stylesheet",href="/css/admin/information.css")

block content
    div(id="content" class="content")
        if information=="phone"
            p 手机号码重复
        if information == "name"
            p 用户名重复
block js
