extends ../admin/layout

block css
    link(rel="stylesheet",href="/css/admin/search.css")

block content
    .container
        .row
            form(method="POST" action="/admin/message/query/1" target="_blank")
                div
                    label(for="searchName") 用户
                    input(id="searchName" name="search[name]" type="text")
                div
                    label(for="searchContent") 内容
                    input(id="searchContent" name="search[content]" type="text")
                div
                    label(for="searchOn") 审核通过
                    input(id="searchOn" name="search[check]" type="radio" value="true")
                    label(for="searchOff") 未审核
                    input(id="searchOff" name="search[check]" type="radio" value="false")
                div
                    label 发言时间
                    input(name="search[timeStart]" type="date")
                    input(name="search[timeEnd]" type="date")
                div
                    button.btn.btn-primary(type="submit") 查询

block js
    script(src="/socket.io/socket.io.js")
    script(src="/admin/js/usersearch.js")
