extends ../admin/layout

block css
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/admin/signin.css")

block content
    div(id="content" class="content")
        form(method="POST" action="/user/signup")
            div
                label(for="signUpName") 用户名
                input(id="signUpName" name="user[name]" type="text")
            div
                label(for="signUpNickName") 昵称
                input(id="signUpNickName" name="user[nickName]" type="text")
            div
                label(for="signUpPassword") 密码
                input(id="signUpPassword" name="user[password]" type="text")
            div
                label(for="signUpPhone") 手机
                input(id="signUpPhone" name="user[phone]" type="text")
            div
                label(for="signUpEmail") 邮箱
                input(id="signUpEmail" name="user[email]" type="text")
            div
                label(for="signUpSexMale") 男
                input(id="signUpSexMale" name="user[sex]" type="radio" value="male")
                label(for="signUpSexFemale") 女
                input(id="signUpSexFemale" name="user[sex]" type="radio" value="female")
            div
                label(for="signUpLevel") 等级
                input(id="signUpLevel" name="user[level]" type="number")
            div
                label(for="signUpBelong") 所属公司
                select(id="signUpBelong" name="user[belong]")
                    option(value="main") 总部
                    option(value="shanghai") 上海分公司
                    option(value="wuhan") 武汉分公司
                    option(value="changsha") 长沙分公司
                    option(value="shenzhen") 深圳分公司
                    option(value="hunan") 湖南分公司
                    option(value="he-fei") 合肥分公司
                    option(value="guangzhou") 广州分公司
            div
                input(id="submit" type="submit" value="提交")
                input(id="reset" type="reset" value="重置")

block js
    script(src="/socket.io/socket.io.js")
    script(src="/admin/js/vendor.js")
    script(src="/admin/js/signup.js")
