extends ../admin/layout

block css
    link(rel="stylesheet",href="/css/admin/search.css")

block content
    .container
        .row
            form(method="POST" action="/admin/user/query/1" target="_blank")
                div
                    label(for="searchName") 用户名
                    input(id="searchName" name="search[name]" type="text")
                div
                    label(for="searchNickName") 昵称
                    input(id="searchNickName" name="search[nickName]" type="text")
                div
                    label(for="searchPassword") 密码
                    input(id="searchPassword" name="search[password]" type="text")
                div
                    label(for="searchPhone") 手机
                    input(id="searchPhone" name="search[phone]" type="text")
                div
                    label(for="searchEmail") 邮箱
                    input(id="searchEmail" name="search[email]" type="text")
                div
                    label(for="searchSexMale") 男
                    input(id="searchSexMale" name="search[sex]" type="radio" value="male")
                    label(for="searchSexFemale") 女
                    input(id="searchSexFemale" name="search[sex]" type="radio" value="female")
                div
                    label(for="searchOn") 在线
                    input(id="searchOn" name="search[online]" type="radio" value="true")
                    label(for="searchOff") 离线
                    input(id="searchOff" name="search[online]" type="radio" value="false")
                div
                    label(for="searchLevel") 等级
                    input(id="searchLevel" name="search[level]" type="number")
                div
                    label(for="searchBelong") 所属公司
                    select(id="searchBelong" name="search[belong]")
                        option(value="") 请选择
                        option(value="main") 总部
                        option(value="shanghai") 上海分公司
                        option(value="wuhan") 武汉分公司
                        option(value="changsha") 长沙分公司
                        option(value="shenzhen") 深圳分公司
                        option(value="hunan") 湖南分公司
                        option(value="he-fei") 合肥分公司
                        option(value="guangzhou") 广州分公司
                div
                    button.btn.btn-primary(type="submit") 查询

block js
    script(src="/socket.io/socket.io.js")
    script(src="/admin/js/usersearch.js")
