extends ../admin/layout

block css


block content
    .row
        form.form-horizontal(method="POST" action="/admin/room/add")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="name") 名称：
                div.col-sm-4
                    input.form-control(id="name" name="room[name]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="title") 标题：
                div.col-sm-4
                    input.form-control(id="title" name="room[title]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label QQ：
                div.col-sm-4
                    input.form-control(id="QQ" name="room[QQ]" type="text")
                div.col-sm-1
                    a.btn.glyphicon.glyphicon-plus
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="phone") 客服电话：
                div.col-sm-4
                    input.form-control(id="phone" name="room[phone]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="site") 视频site：
                div.col-sm-4
                    input.form-control(id="site" name="room[video][site]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="ctx") 视频ctx：
                div.col-sm-4
                    input.form-control(id="ctx" name="room[video][ctx]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="ownerId") 视频ownerId：
                div.col-sm-4
                    input.form-control(id="ownerId" name="room[video][ownerId]" type="text")
            div.form-group
                div.col-sm-offset-5.col-sm-2.text-center
                    input.btn.btn-success(id="submit" type="submit" value="提交")
                div.col-sm-2.text-center
                    input.btn.btn-warning(id="reset" type="reset" value="重置")

block js
    script(src="/admin/js/roomNew.js")
